<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxsoft.drinkTea.datemodel.autocreate.mapper.AboutUsMapper">
	<resultMap type="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs" id="AboutUsMap">
		<id property="id" column="ID" />
		<result property="id" column="ID" />
		<result property="fielda" column="FIELDA" />
		<result property="content" column="CONTENT" />
		<result property="headline" column="HEADLINE" />
		<result property="fieldb" column="FIELDB" />
		<result property="fieldc" column="FIELDC" />
		<result property="picture" column="PICTURE" />
	</resultMap>

	<sql id="allAboutUsItems">
		tmp.`ID`,tmp.`FIELDA`,tmp.`CONTENT`,tmp.`HEADLINE`,tmp.`FIELDB`,tmp.`FIELDC`,tmp.`PICTURE`
	</sql>

	<sql id="allAboutUsByConditions">
        <if test="id != null"> tmp.ID = #{id} AND</if>
        <if test="fielda != null"> tmp.FIELDA = #{fielda} AND</if>
        <if test="content != null"> tmp.CONTENT = #{content} AND</if>
        <if test="headline != null"> tmp.HEADLINE = #{headline} AND</if>
        <if test="fieldb != null"> tmp.FIELDB = #{fieldb} AND</if>
        <if test="fieldc != null"> tmp.FIELDC = #{fieldc} AND</if>
        <if test="picture != null"> tmp.PICTURE = #{picture} AND</if>
	</sql>

	<select id="getListBy" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs" resultMap="AboutUsMap">
		SELECT <include refid="allAboutUsItems" /> from about_us tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allAboutUsByConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListBy" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs" resultMap="AboutUsMap">
		SELECT <include refid="allAboutUsItems" /> from about_us tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allAboutUsByConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountBy" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs" resultType="java.lang.Integer">
		SELECT count(*) from about_us tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allAboutUsByConditions" />
 		</trim>
	</select>

	<sql id="allAboutUsLikeConditions">
		<if test="id != null">ID like '%${id}%' AND </if>
		<if test="fielda != null">FIELDA like '%${fielda}%' AND </if>
		<if test="content != null">CONTENT like '%${content}%' AND </if>
		<if test="headline != null">HEADLINE like '%${headline}%' AND </if>
		<if test="fieldb != null">FIELDB like '%${fieldb}%' AND </if>
		<if test="fieldc != null">FIELDC like '%${fieldc}%' AND </if>
		<if test="picture != null">PICTURE like '%${picture}%' AND </if>
	</sql>

	<select id="getListLike" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs" resultMap="AboutUsMap">
		SELECT <include refid="allAboutUsItems" /> from about_us tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allAboutUsLikeConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListLike" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs" resultMap="AboutUsMap">
		SELECT <include refid="allAboutUsItems" /> from about_us tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allAboutUsLikeConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountLike" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs" resultType="java.lang.Integer">
		SELECT count(*) from about_us tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allAboutUsLikeConditions" />
 		</trim>
	</select>

	<select id="selectByPrimaryKey" parameterType="Integer"	resultMap="AboutUsMap">
			SELECT <include refid="allAboutUsItems" /> FROM about_us tmp WHERE tmp.ID = #{id}
	</select>

	<select id="selectBy" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs" resultMap="AboutUsMap">
		SELECT <include refid="allAboutUsItems" /> FROM about_us tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allAboutUsByConditions" />
 		</trim>
	</select>

	<insert id="insert" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO about_us
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="fielda != null">FIELDA,</if>
			<if test="content != null">CONTENT,</if>
			<if test="headline != null">HEADLINE,</if>
			<if test="fieldb != null">FIELDB,</if>
			<if test="fieldc != null">FIELDC,</if>
			<if test="picture != null">PICTURE,</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="fielda != null">#{fielda},</if>
			<if test="content != null">#{content},</if>
			<if test="headline != null">#{headline},</if>
			<if test="fieldb != null">#{fieldb},</if>
			<if test="fieldc != null">#{fieldc},</if>
			<if test="picture != null">#{picture},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs">
		<![CDATA[delete from about_us where ID=#{id}]]>
	</delete>

	<delete id="delete" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs">
		delete from about_us
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
            <if test="id != null"> ID = #{id} AND</if>
            <if test="fielda != null"> FIELDA = #{fielda} AND</if>
            <if test="content != null"> CONTENT = #{content} AND</if>
            <if test="headline != null"> HEADLINE = #{headline} AND</if>
            <if test="fieldb != null"> FIELDB = #{fieldb} AND</if>
            <if test="fieldc != null"> FIELDC = #{fieldc} AND</if>
            <if test="picture != null"> PICTURE = #{picture} AND</if>
 		</trim>
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.wxsoft.drinkTea.datemodel.autocreate.model.AboutUs">
		update about_us
		<set>
			<if test="id != null">ID=#{id},</if>
			<if test="fielda != null">FIELDA=#{fielda},</if>
			<if test="content != null">CONTENT=#{content},</if>
			<if test="headline != null">HEADLINE=#{headline},</if>
			<if test="fieldb != null">FIELDB=#{fieldb},</if>
			<if test="fieldc != null">FIELDC=#{fieldc},</if>
			<if test="picture != null">PICTURE=#{picture},</if>
		</set>
		where ID = #{id}
	</update>

</mapper>