<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxsoft.drinkTea.platform.system.sysconfig.mapper.SubjectKuMapper">
	<resultMap type="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu" id="SubjectKuMap">
		<id property="id" column="ID" />
		<result property="id" column="ID" />
		<result property="subNumber" column="SUB_NUMBER" />
		<result property="name" column="NAME" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="visable" column="VISABLE" />
		<result property="img" column="IMG" />
		<result property="intro" column="INTRO" />
	</resultMap>

	<sql id="allSubjectKuItems">
		tmp.`ID`,tmp.`SUB_NUMBER`,tmp.`NAME`,tmp.`CREATE_TIME`,tmp.`VISABLE`,tmp.`IMG`,tmp.`INTRO`
	</sql>

	<sql id="allSubjectKuByConditions">
        <if test="id != null"> tmp.ID = #{id} AND</if>
        <if test="subNumber != null"> tmp.SUB_NUMBER = #{subNumber} AND</if>
        <if test="name != null"> tmp.NAME = #{name} AND</if>
        <if test="createTime != null"> tmp.CREATE_TIME = #{createTime} AND</if>
        <if test="visable != null"> tmp.VISABLE = #{visable} AND</if>
        <if test="img != null"> tmp.IMG = #{img} AND</if>
         <if test="intro != null"> tmp.INTRO = #{intro} AND</if>
	</sql>

	<select id="getListBy" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu" resultMap="SubjectKuMap">
		SELECT <include refid="allSubjectKuItems" /> from subject_ku tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSubjectKuByConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListBy" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu" resultMap="SubjectKuMap">
		SELECT <include refid="allSubjectKuItems" /> from subject_ku tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSubjectKuByConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountBy" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu" resultType="java.lang.Integer">
		SELECT count(*) from subject_ku tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSubjectKuByConditions" />
 		</trim>
	</select>

	<sql id="allSubjectKuLikeConditions">
		<if test="id != null">ID like '%${id}%' AND </if>
		<if test="subNumber != null">SUB_NUMBER like '%${subNumber}%' AND </if>
		<if test="name != null">NAME like '%${name}%' AND </if>
		<if test="createTime != null">CREATE_TIME like '%${createTime}%' AND </if>
		<if test="visable != null">VISABLE like '%${visable}%' AND </if>
		<if test="img != null">IMG like '%${img}%' AND </if>
		<if test="intro != null">INTRO like '%${intro}%' AND </if>
	</sql>

	<select id="getListLike" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu" resultMap="SubjectKuMap">
		SELECT <include refid="allSubjectKuItems" /> from subject_ku tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSubjectKuLikeConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListLike" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu" resultMap="SubjectKuMap">
		SELECT <include refid="allSubjectKuItems" /> from subject_ku tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSubjectKuLikeConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountLike" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu" resultType="java.lang.Integer">
		SELECT count(*) from subject_ku tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSubjectKuLikeConditions" />
 		</trim>
	</select>

	<select id="selectByPrimaryKey" parameterType="Integer"	resultMap="SubjectKuMap">
			SELECT <include refid="allSubjectKuItems" /> FROM subject_ku tmp WHERE tmp.ID = #{id}
	</select>

	<select id="selectBy" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu" resultMap="SubjectKuMap">
		SELECT <include refid="allSubjectKuItems" /> FROM subject_ku tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSubjectKuByConditions" />
 		</trim>
	</select>

	<insert id="insert" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO subject_ku
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="subNumber != null">SUB_NUMBER,</if>
			<if test="name != null">NAME,</if>
			<if test="img != null">IMG,</if>
				<if test="intro != null">INTRO,</if>
			CREATE_TIME,
			VISABLE,
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="subNumber != null">#{subNumber},</if>
			<if test="name != null">#{name},</if>
			<if test="img != null">#{img},</if>
			<if test="intro != null">#{intro},</if>
			now(),
			1,
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu">
		<![CDATA[delete from subject_ku where ID=#{id}]]>
	</delete>

	<delete id="delete" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu">
		delete from subject_ku
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
            <if test="id != null"> ID = #{id} AND</if>
            <if test="subNumber != null"> SUB_NUMBER = #{subNumber} AND</if>
            <if test="name != null"> NAME = #{name} AND</if>
            <if test="createTime != null"> CREATE_TIME = #{createTime} AND</if>
            <if test="visable != null"> VISABLE = #{visable} AND</if>
              <if test="img != null"> IMG = #{img} AND</if>
              <if test="intro != null"> INTRO = #{intro} AND</if>
 		</trim>
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.system.sysconfig.model.SubjectKu">
		update subject_ku
		<set>
			<if test="id != null">ID=#{id},</if>
			<if test="subNumber != null">SUB_NUMBER=#{subNumber},</if>
			<if test="name != null">NAME=#{name},</if>
			<if test="createTime != null">CREATE_TIME=#{createTime},</if>
			<if test="visable != null">VISABLE=#{visable},</if>
			<if test="img != null">IMG=#{img},</if>
			<if test="intro != null">INTRO=#{intro},</if>
		</set>
		where ID = #{id}
	</update>

</mapper>