<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxsoft.drinkTea.platform.weixin.mapper.UserFriendMapper">
	<resultMap type="com.wxsoft.drinkTea.platform.weixin.model.UserFriend" id="UserFriendMap">
		<id property="id" column="ID" />
		<result property="id" column="ID" />
		<result property="userId" column="USER_ID" />
		<result property="friendId" column="FRIEND_ID" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="visiable" column="VISIABLE" />
		<result property="delTime" column="DEL_TIME" />
		<result property="type" column="TYPE" />
	</resultMap>

	<sql id="allUserFriendItems">
		tmp.`ID`,tmp.`USER_ID`,tmp.`FRIEND_ID`,tmp.`CREATE_TIME`,tmp.`VISIABLE`,tmp.`DEL_TIME`
	</sql>

	<sql id="allUserFriendByConditions">
        <if test="id != null"> tmp.ID = #{id} AND</if>
        <if test="userId != null"> tmp.USER_ID = #{userId} AND</if>
        <if test="friendId != null"> tmp.FRIEND_ID = #{friendId} AND</if>
        <if test="createTime != null"> tmp.CREATE_TIME = #{createTime} AND</if>
        <if test="visiable != null"> tmp.VISIABLE = #{visiable} AND</if>
        <if test="delTime != null"> tmp.DEL_TIME = #{delTime} AND</if>
	</sql>

	<select id="getListBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend" resultMap="UserFriendMap">
		SELECT <include refid="allUserFriendItems" /> from user_friend tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFriendByConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend" resultMap="UserFriendMap">
		SELECT <include refid="allUserFriendItems" /> from user_friend tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFriendByConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend" resultType="java.lang.Integer">
		SELECT count(*) from user_friend tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFriendByConditions" />
 		</trim>
	</select>

	<sql id="allUserFriendLikeConditions">
		<if test="id != null">ID like '%${id}%' AND </if>
		<if test="userId != null">USER_ID like '%${userId}%' AND </if>
		<if test="friendId != null">FRIEND_ID like '%${friendId}%' AND </if>
		<if test="createTime != null">CREATE_TIME like '%${createTime}%' AND </if>
		<if test="visiable != null">VISIABLE like '%${visiable}%' AND </if>
		<if test="delTime != null">DEL_TIME like '%${delTime}%' AND </if>
		<if test="type != null">TYPE like '%${type}%' AND </if>
	</sql>

	<select id="getListLike" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend" resultMap="UserFriendMap">
		SELECT <include refid="allUserFriendItems" /> from user_friend tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFriendLikeConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListLike" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend" resultMap="UserFriendMap">
		SELECT <include refid="allUserFriendItems" /> from user_friend tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFriendLikeConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountLike" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend" resultType="java.lang.Integer">
		SELECT count(*) from user_friend tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFriendLikeConditions" />
 		</trim>
	</select>

	<select id="selectByPrimaryKey" parameterType="Integer"	resultMap="UserFriendMap">
			SELECT <include refid="allUserFriendItems" /> FROM user_friend tmp WHERE tmp.ID = #{id}
	</select>

	<select id="selectBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend" resultMap="UserFriendMap">
		SELECT <include refid="allUserFriendItems" /> FROM user_friend tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFriendByConditions" />
 		</trim>
	</select>

	<insert id="insert" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user_friend
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="userId != null">USER_ID,</if>
			<if test="friendId != null">FRIEND_ID,</if>
			<if test="createTime != null">CREATE_TIME,</if>
			<if test="visiable != null">VISIABLE,</if>
			<if test="delTime != null">DEL_TIME,</if>
			<if test="type != null">TYPE,</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="userId != null">#{userId},</if>
			<if test="friendId != null">#{friendId},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="visiable != null">#{visiable},</if>
			<if test="type != null">#{type},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend">
		<![CDATA[delete from user_friend where ID=#{id}]]>
	</delete>

	<delete id="delete" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend">
		delete from user_friend
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
            <if test="id != null"> ID = #{id} AND</if>
            <if test="userId != null"> USER_ID = #{userId} AND</if>
            <if test="friendId != null"> FRIEND_ID = #{friendId} AND</if>
            <if test="createTime != null"> CREATE_TIME = #{createTime} AND</if>
            <if test="visiable != null"> VISIABLE = #{visiable} AND</if>
            <if test="delTime != null"> DEL_TIME = #{delTime} AND</if>
             <if test="type != null"> TYPE = #{type} AND</if>
 		</trim>
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFriend">
		update user_friend
		<set>
			<if test="id != null">ID=#{id},</if>
			<if test="userId != null">USER_ID=#{userId},</if>
			<if test="friendId != null">FRIEND_ID=#{friendId},</if>
			<if test="createTime != null">CREATE_TIME=#{createTime},</if>
			<if test="visiable != null">VISIABLE=#{visiable},</if>
			<if test="delTime != null">DEL_TIME=#{delTime},</if>
			<if test="type != null">TYPE=#{type},</if>
		</set>
		where ID = #{id}
	</update>

</mapper>