<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxsoft.drinkTea.platform.weixin.mapper.UserAnswerMapper">
	<resultMap type="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer" id="UserAnswerMap">
		<id property="id" column="ID" />
		<result property="id" column="ID" />
		<result property="userId" column="USER_ID" />
		<result property="packetId" column="PACKET_ID" />
		<result property="userAnswer" column="USER_ANSWER" />
		<result property="rightOrWrong" column="RIGHT_OR_WRONG" />
		<result property="subjectId" column="SUBJECT_ID" />
		<result property="type" column="TYPE" />
	</resultMap>

	<sql id="allUserAnswerItems">
		tmp.`ID`,tmp.`USER_ID`,tmp.`PACKET_ID`,tmp.`USER_ANSWER`,tmp.`RIGHT_OR_WRONG`,tmp.`SUBJECT_ID`,tmp.`TYPE`
	</sql>

	<sql id="allUserAnswerByConditions">
        <if test="id != null"> tmp.ID = #{id} AND</if>
        <if test="userId != null"> tmp.USER_ID = #{userId} AND</if>
        <if test="packetId != null"> tmp.PACKET_ID = #{packetId} AND</if>
        <if test="userAnswer != null"> tmp.USER_ANSWER = #{userAnswer} AND</if>
        <if test="rightOrWrong != null"> tmp.RIGHT_OR_WRONG = #{rightOrWrong} AND</if>
        <if test="subjectId != null"> tmp.SUBJECT_ID = #{subjectId} AND</if>
        <if test="type != null"> tmp.TYPE = #{type} AND</if>
	</sql>

	<select id="getListBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer" resultMap="UserAnswerMap">
		SELECT <include refid="allUserAnswerItems" /> from user_answer tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserAnswerByConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer" resultMap="UserAnswerMap">
		SELECT <include refid="allUserAnswerItems" /> from user_answer tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserAnswerByConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer" resultType="java.lang.Integer">
		SELECT count(*) from user_answer tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserAnswerByConditions" />
 		</trim>
	</select>

	<sql id="allUserAnswerLikeConditions">
		<if test="id != null">ID like '%${id}%' AND </if>
		<if test="userId != null">USER_ID like '%${userId}%' AND </if>
		<if test="packetId != null">PACKET_ID like '%${packetId}%' AND </if>
		<if test="userAnswer != null">USER_ANSWER like '%${userAnswer}%' AND </if>
		<if test="rightOrWrong != null">RIGHT_OR_WRONG like '%${rightOrWrong}%' AND </if>
		<if test="subjectId != null">SUBJECT_ID like '%${subjectId}%' AND </if>
		<if test="type != null">TYPE like '%${type}%' AND </if>
	</sql>

	<select id="getListLike" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer" resultMap="UserAnswerMap">
		SELECT <include refid="allUserAnswerItems" /> from user_answer tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserAnswerLikeConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListLike" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer" resultMap="UserAnswerMap">
		SELECT <include refid="allUserAnswerItems" /> from user_answer tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserAnswerLikeConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountLike" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer" resultType="java.lang.Integer">
		SELECT count(*) from user_answer tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserAnswerLikeConditions" />
 		</trim>
	</select>

	<select id="selectByPrimaryKey" parameterType="Integer"	resultMap="UserAnswerMap">
			SELECT <include refid="allUserAnswerItems" /> FROM user_answer tmp WHERE tmp.ID = #{id}
	</select>

	<select id="selectBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer" resultMap="UserAnswerMap">
		SELECT <include refid="allUserAnswerItems" /> FROM user_answer tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserAnswerByConditions" />
 		</trim>
	</select>

	<insert id="insert" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user_answer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="userId != null">USER_ID,</if>
			<if test="packetId != null">PACKET_ID,</if>
			<if test="userAnswer != null">USER_ANSWER,</if>
			<if test="rightOrWrong != null">RIGHT_OR_WRONG,</if>
			<if test="subjectId != null">SUBJECT_ID,</if>
			<if test="type != null">TYPE,</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="userId != null">#{userId},</if>
			<if test="packetId != null">#{packetId},</if>
			<if test="userAnswer != null">#{userAnswer},</if>
			<if test="rightOrWrong != null">#{rightOrWrong},</if>
			<if test="subjectId != null">#{subjectId},</if>
			<if test="type != null">#{type},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer">
		<![CDATA[delete from user_answer where ID=#{id}]]>
	</delete>

	<delete id="delete" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer">
		delete from user_answer
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
            <if test="id != null"> ID = #{id} AND</if>
            <if test="userId != null"> USER_ID = #{userId} AND</if>
            <if test="packetId != null"> PACKET_ID = #{packetId} AND</if>
            <if test="userAnswer != null"> USER_ANSWER = #{userAnswer} AND</if>
            <if test="rightOrWrong != null"> RIGHT_OR_WRONG = #{rightOrWrong} AND</if>
            <if test="subjectId != null"> SUBJECT_ID = #{subjectId} AND</if>
            <if test="type != null"> TYPE = #{type} AND</if>
 		</trim>
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer">
		update user_answer
		<set>
			<if test="id != null">ID=#{id},</if>
			<if test="userId != null">USER_ID=#{userId},</if>
			<if test="packetId != null">PACKET_ID=#{packetId},</if>
			<if test="userAnswer != null">USER_ANSWER=#{userAnswer},</if>
			<if test="rightOrWrong != null">RIGHT_OR_WRONG=#{rightOrWrong},</if>
			<if test="subjectId != null">SUBJECT_ID=#{subjectId},</if>
			<if test="type != null">TYPE=#{type},</if>
		</set>
		where ID = #{id}
	</update>
	<update id="setAnswerType" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserAnswer">
		update user_answer
		<set>
			<if test="type != null">TYPE=#{type},</if>
		</set>
		where USER_ID = #{userId}
	</update>
</mapper>