<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxsoft.drinkTea.platform.weixin.mapper.UserFocusMapper">
	<resultMap type="com.wxsoft.drinkTea.platform.weixin.model.UserFocus" id="UserFocusMap">
		<id property="id" column="ID" />
		<result property="id" column="ID" />
		<result property="userId" column="USER_ID" />
		<result property="openid" column="OPENID" />
	</resultMap>

	<sql id="allUserFocusItems">
		tmp.`ID`,tmp.`USER_ID`,tmp.`OPENID`
	</sql>

	<sql id="allUserFocusByConditions">
        <if test="id != null"> tmp.ID = #{id} AND</if>
        <if test="userId != null"> tmp.USER_ID = #{userId} AND</if>
        <if test="openid != null"> tmp.OPENID = #{openid} AND</if>
	</sql>

	<select id="getListBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus" resultMap="UserFocusMap">
		SELECT <include refid="allUserFocusItems" /> from user_focus tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFocusByConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus" resultMap="UserFocusMap">
		SELECT <include refid="allUserFocusItems" /> from user_focus tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFocusByConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus" resultType="java.lang.Integer">
		SELECT count(*) from user_focus tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFocusByConditions" />
 		</trim>
	</select>

	<sql id="allUserFocusLikeConditions">
		<if test="id != null">ID like '%${id}%' AND </if>
		<if test="userId != null">USER_ID like '%${userId}%' AND </if>
		<if test="openid != null">OPENID like '%${openid}%' AND </if>
	</sql>

	<select id="getListLike" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus" resultMap="UserFocusMap">
		SELECT <include refid="allUserFocusItems" /> from user_focus tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFocusLikeConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListLike" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus" resultMap="UserFocusMap">
		SELECT <include refid="allUserFocusItems" /> from user_focus tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFocusLikeConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountLike" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus" resultType="java.lang.Integer">
		SELECT count(*) from user_focus tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFocusLikeConditions" />
 		</trim>
	</select>

	<select id="selectByPrimaryKey" parameterType="Integer"	resultMap="UserFocusMap">
			SELECT <include refid="allUserFocusItems" /> FROM user_focus tmp WHERE tmp.ID = #{id}
	</select>

	<select id="selectBy" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus" resultMap="UserFocusMap">
		SELECT <include refid="allUserFocusItems" /> FROM user_focus tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allUserFocusByConditions" />
 		</trim>
	</select>

	<insert id="insert" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user_focus
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="userId != null">USER_ID,</if>
			<if test="openid != null">OPENID,</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="userId != null">#{userId},</if>
			<if test="openid != null">#{openid},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus">
		<![CDATA[delete from user_focus where ID=#{id}]]>
	</delete>

	<delete id="delete" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus">
		delete from user_focus
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
            <if test="id != null"> ID = #{id} AND</if>
            <if test="userId != null"> USER_ID = #{userId} AND</if>
            <if test="openid != null"> OPENID = #{openid} AND</if>
 		</trim>
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.weixin.model.UserFocus">
		update user_focus
		<set>
			<if test="id != null">ID=#{id},</if>
			<if test="userId != null">USER_ID=#{userId},</if>
			<if test="openid != null">OPENID=#{openid},</if>
		</set>
		where ID = #{id}
	</update>

</mapper>