<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxsoft.drinkTea.platform.system.rollpic.mapper.RollPicMapper">
	<resultMap type="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic" id="RollPicMap">
		<id property="id" column="ID" />
		<result property="id" column="ID" />
		<result property="title" column="TITLE" />
		<result property="picUrl" column="PIC_URL" />
		<result property="linkUrl" column="LINK_URL" />
		<result property="sorts" column="SORTS" />
		<result property="isVisable" column="IS_VISABLE" />
		<result property="addtime" column="ADDTIME" />
	</resultMap>

	<sql id="allRollPicItems">
		tmp.`ID`,tmp.`TITLE`,tmp.`PIC_URL`,tmp.`LINK_URL`,tmp.`SORTS`,tmp.`IS_VISABLE`,tmp.`ADDTIME`
	</sql>
<!-- <if test="isVisable != null"> tmp.IS_VISABLE = #{isVisable}</if> -->
	<sql id="allRollPicByConditions">
        <if test="id != null"> tmp.ID = #{id} AND</if>
        <if test="title != null"> tmp.TITLE = #{title} AND</if>
        <if test="picUrl != null"> tmp.PIC_URL = #{picUrl} AND</if>
        <if test="linkUrl != null"> tmp.LINK_URL = #{linkUrl} AND</if>
        <if test="sorts != null"> tmp.SORTS = #{sorts} AND</if>
        <if test="isVisable != null"> tmp.IS_VISABLE = #{isVisable}AND</if>
        <if test="addtime != null"> tmp.ADDTIME = #{addtime} AND</if>
	</sql>

	<select id="getListBy" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic" resultMap="RollPicMap">
		SELECT <include refid="allRollPicItems" /> from roll_pic tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allRollPicByConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListBy" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic" resultMap="RollPicMap">
		SELECT <include refid="allRollPicItems" /> from roll_pic tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allRollPicByConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountBy" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic" resultType="java.lang.Integer">
		SELECT count(*) from roll_pic tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allRollPicByConditions" />
 		</trim>
	</select>

	<sql id="allRollPicLikeConditions">
		<if test="id != null">ID like '%${id}%' AND </if>
		<if test="title != null">TITLE like '%${title}%' AND </if>
		<if test="picUrl != null">PIC_URL like '%${picUrl}%' AND </if>
		<if test="linkUrl != null">LINK_URL like '%${linkUrl}%' AND </if>
		<if test="sorts != null">SORTS like '%${sorts}%' AND </if>
		<if test="isVisable != null">IS_VISABLE like '%${isVisable}%' AND </if>
		<if test="addtime != null">ADDTIME like '%${addtime}%' AND </if>
	</sql>

	<select id="getListLike" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic" resultMap="RollPicMap">
		SELECT <include refid="allRollPicItems" /> from roll_pic tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allRollPicLikeConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="listPageByRollPic" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic" resultMap="RollPicMap">
		SELECT <include refid="allRollPicItems" /> from roll_pic tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allRollPicByConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY ID DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountLike" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic" resultType="java.lang.Integer">
		SELECT count(*) from roll_pic tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allRollPicLikeConditions" />
 		</trim>
	</select>

	<select id="selectByPrimaryKey" parameterType="Integer"	resultMap="RollPicMap">
			SELECT <include refid="allRollPicItems" /> FROM roll_pic tmp WHERE tmp.ID = #{id}
	</select>

	<select id="selectBy" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic" resultMap="RollPicMap">
		SELECT <include refid="allRollPicItems" /> FROM roll_pic tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allRollPicByConditions" />
 		</trim>
	</select>

	<insert id="insertSelective" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO roll_pic
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="title != null">TITLE,</if>
			<if test="picUrl != null">PIC_URL,</if>
			<if test="linkUrl != null">LINK_URL,</if>
			<if test="sorts != null">SORTS,</if>
			IS_VISABLE,
			<if test="addtime != null">ADDTIME,</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="title != null">#{title},</if>
			<if test="picUrl != null">#{picUrl},</if>
			<if test="linkUrl != null">#{linkUrl},</if>
			<if test="sorts != null">#{sorts},</if>
			                          1,
			<if test="addtime != null">#{addtime},</if>
		</trim>
	</insert>

	<delete id="delete" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic">
		<![CDATA[delete from roll_pic where ID=#{id}]]>
	</delete>

	<delete id="deleteByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic">
		delete from roll_pic
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
            <if test="id != null"> ID = #{id} AND</if>
            <if test="title != null"> TITLE = #{title} AND</if>
            <if test="picUrl != null"> PIC_URL = #{picUrl} AND</if>
            <if test="linkUrl != null"> LINK_URL = #{linkUrl} AND</if>
            <if test="sorts != null"> SORTS = #{sorts} AND</if>
            <if test="isVisable != null"> IS_VISABLE = #{isVisable} AND</if>
            <if test="addtime != null"> ADDTIME = #{addtime} AND</if>
 		</trim>
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="com.wxsoft.drinkTea.platform.system.rollpic.model.RollPic">
		update roll_pic
		<set>
			<if test="id != null">ID=#{id},</if>
			<if test="title != null">TITLE=#{title},</if>
			<if test="picUrl != null">PIC_URL=#{picUrl},</if>
			<if test="linkUrl != null">LINK_URL=#{linkUrl},</if>
			<if test="sorts != null">SORTS=#{sorts},</if>
			<if test="isVisable != null">IS_VISABLE=#{isVisable},</if>
			<if test="addtime != null">ADDTIME=#{addtime},</if>
		</set>
		where ID = #{id}
	</update>

</mapper>