html{
	background: #f1f1f1;
}
body{
	
}

.container .body, .orderdetail .order_state_div{
	padding:0 14px;
}

.order_state_div{
}
.order_state_div li{
	font-size:13px;
	height:53px;
	vertical-align: middle;
}
.order_state_div li:first-of-type{
	width:100%;
}

/****/
.section_container{
	font-size:12px;
	color:#434a54;
	background:#ffffff;
	margin-bottom:10px;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
.section_header{
	background:#37c3a9;
	height:40px;
	font-size: 15px;
	color:#ffffff;
	line-height: 40px;
	padding:0 20px;
}
.section_header a{
	display: block;
	position: relative;
	color:#ffffff;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.section_header a.arrow:after{
	content: "";
	position: absolute;
	top:50%;
	right:0;
	margin-top:-5px;
	display: block;
	width:8px;
	height:8px;
	border:1px solid #ffffff;
	border-width:0 1px 1px 0;
	-webkit-transform: rotate(-45deg);
}

.section_container .section_header.bg_1{background: #f7a84c;}
.section_container .section_header.bg_2{background: #37c3a9;}
.section_container .section_header.bg_3{background: #69c1d7;}
.section_container .section_header.bg_4{background: #adb3bc;}


.section_body{
	line-height: 18px;
}
.section_body ul.list_addr{
	padding:5px 20px;
}
.section_body ul.list_addr li>div{
	padding:5px 0;
	vertical-align: top;
}
.section_body ul.list_addr li>div:first-of-type label{
	white-space: nowrap;
	display: block;
	width:40px;
	font-size:11px;
	color:#7f8c8d;
}
/****/
.transport_info{
	border-top: 1px solid #ced3d7;
	padding: 5px 0 5px 20px;
	background: -webkit-gradient(linear, 0 0, 0 100, from(#dddfe0), to(#dddfe0) ) no-repeat 30px 20px;
	-webkit-background-size: 1px 100%;
}

.transport_info a{
	display: block;
	position: relative;
}
.transport_info a.arrow:after{
	content: "";
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
	width: 7px;
	height: 7px;
	border: 1px solid #37c3a9;
	-webkit-transform: rotate(-45deg);
	border-width: 0 1px 1px 0;
}
.transport_info .tbox>div{
	padding:5px 0;
}
.transport_info .tbox>div:nth-of-type(2){
	border-top:1px solid #ced3d7;
	padding-right:30px;
}
.transport_info li:first-of-type .tbox>div:nth-of-type(2){
	border-top:0;
}
.transport_info .state{
	display: block;
	width:40px;
	height:100%;
	position: relative;
}
.transport_info .state:before, .transport_info .state:after{
	content: "";
	display: inline-block;
	width:9px;
	height:9px;
	position: absolute;
	left:6px;
	top:6px;
	z-index:10;
	background:#dddfe0;
	border-radius:18px;
}
.transport_info .state:after{
	background:#37c3a9;
	border:2px solid #c2efe7;
	width:11px;
	height:11px;
	left: 3px;
	top: 3px;
	display: none;
}
.transport_info .state.active:after{
	display: inline-block;
}

.transport_info .time{
	font-size:11px;
	color:#a1a1a1;
}
.transport_info .desc{
	font-size:13px;
	color:#37c3a9;
}

/****/

.section_body .message{
	padding:10px 20px;
}

/****/
.section_body .list_goods{}
.section_body .list_goods .img_wrap{
	display: inline-block;
	width:80px;
	height:80px;
}
.section_body .list_goods .img_wrap img{
	width:100%;
	height:100%;
}

.section_body .list_goods li:nth-of-type(n+2){
	border-top:1px solid #ced3d7;
}
.section_body .list_goods a{
	display: block;
	color:#434a54;
}
.section_body .list_goods .tbox>div{
	padding:5px;
	vertical-align: middle;
}

.section_body .list_goods .tbox>div p.price{
	font-size:13px;
	color:#ff5366;
	padding:10px 0;
}

.section_body .list_goods .tbox>div p:nth-of-type(3){
	font-size:10px;
	color:#a1a1a1;
}

.section_body .list_goods .op_box{
	border-top:1px solid #e8eaeb;
	padding:10px 0;
	margin:0 10px;
	text-align: right;
}
.section_body .list_goods .op_box .btn{
	border-radius:3px;
	border:1px solid #ff5366;
	color:#ff5366;
	text-align:center;
	width:90px;
	padding:0 8px;
	line-height: 27px;
	display: inline-block;
	background:#ffffff;
	margin:0 5px;
}
.section_body .list_goods .op_box .btn.gray_1{
	color:#3e3e3e;
	border-color: #3e3e3e
}

.order_info{
	font-size:11px;
	line-height:30px;
	padding:5px 45px;
}
.order_info li .right{
	float: right;
}
.order_info li:nth-of-type(n+2){
	border-top:1px solid #e8eaeb;
}
.order_info ol{
	border:1px solid #ff5366;
	border-width:1px 0 1px 0;
	color:#ff5366;
}
.order_info .order_info_note{
	padding:20px 0;
}
.order_info .order_info_note p{
	line-height:20px;
}

/****/
.sep_wrap{
	height: 20px;
	position: relative;
	background: url(../imgs/w_9.png#1) repeat-x center -20px;
	background-size: 20px auto;
}
.sep_wrap:before, .sep_wrap:after{
	content: "";
	display: inline-block;
	width:10px;
	height:100%;
	left:-10px;
	position: absolute;
	top:0;
	background:#f1f1f1;
}
.sep_wrap:after{left:inherit;right:-10px;}
.sep{
	height:100%;
	margin:0 -10px;
	background: url(../imgs/w_9.png#1) no-repeat, url(../imgs/w_9.png#1) no-repeat;
	background-size: 20px auto, 20px auto;
	background-position: 0px 0,  right 0;
}


/**********************************************è®¢å•æäº¤é¡µé¢*****************************************************/
.ordercreate .body{
	padding-top:10px;
}
.ordercreate .section_body ul.list_addr li>div:first-of-type label{width:60px;}
.ordercreate .section_header .fr{
	font-size:11px;
}

.ad_vcard a{
	display: block;
	position: relative;
}
.ad_vcard span.close{
	display: inline-block;
	width:30px;
	height:30px;
	background:none;
	position: absolute;
	right:5%;
	top:50%;
	margin-top:-15px;
}

.coupon_info input[type="radio"], .coupon_info input.radio{
	border:0;
	display: inline-block;
	-webkit-appearance:none;
	width:20px;
	height:20px;
	background:url(../imgs/w_10.png) no-repeat center 0;
	-webkit-background-size:20px auto;
}
.coupon_info input[type="radio"]:checked, .coupon_info input.radio:checked{
	background-position: center -20px;
}

.coupon_info{
	padding:0 10px 10px;
	line-height:20px;
}
.coupon_info .tbox>div{
	padding:10px 0 5px;
}
.coupon_info .integra{
	width:100%;
	background:#ececec;
	border:0;
	padding:3px;
}
.coupon_info .integra_des{
	font-size:10px;
	color:#a1a1a1;
}
.coupon_info .title{
	font-size:13px;
	line-height:35px;
	color:#4a4a4a;
}
.coupon_info ul{
	border:1px solid #e8eaeb;
	border-width:1px 0 1px 0;
}
.coupon_info .checkbox_wrap{
	width:50px;
	padding-left:5px;
}
.coupon_info .label_title{
	font-size:13px;
	color:#4a4a4a;
	display: block;
	width:80px;
	white-space: pre;
}
.label_coupon{
	display: block;
	width:100%!important;
	position: relative;
}
.label_coupon:after{
	content: "";
	display: inline-block;
	width:6px;
	height:6px;
	position: absolute;
	right: 5px;
	top:50%;
	margin-top:-5px;
	border:1px solid #646a72;
	border-width:0 1px 1px 0;
	-webkit-transform:rotate(45deg);
}
.label_coupon.on:after{
	-webkit-transform: rotate(-135deg);
	margin-top: -2px;
}

.list_coupon{
	display: none;
	padding:5px 0;
}
.list_coupon.on{display: inherit;}
.list_coupon label{
	display: block;
	line-height:24px;
}
.list_coupon label input{
	float:left;
	margin-top:1px;
	-webkit-transform:scale(0.6);
}


.message_info{
	padding:0 10px 10px;
}
.message_info .label_title{
	white-space: nowrap;
	width:50px;
	display: block;
	font-size:13px;
}
.message_info textarea{
	padding:3px;
	width:100%;
	height:65px;
	border:0;
	background:#ececec;
}


.section_price_and_pay {
	padding:5px 0 10px;
}
.section_price_and_pay p:nth-of-type(1){
	font-size:13px;
	color:#000000;
	line-height:20px;
}
.section_price_and_pay p:nth-of-type(2){
	font-size:11px;
	color:#a1a1a1;
	line-height:20px;
}
.section_price_and_pay p:nth-of-type(3) a{
	margin:5px 0;
	font-size:18px;
	line-height: 40px;
	height:40px;
	display: inline-block;
	width:80%;
	max-width:300px;
}



/********************************************************/
.container.dialog{
	-webkit-filter: blur(2px);
}
.pay_dialog{
	text-align: center;
	color:#ffffff;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:500;
	background:-webkit-gradient(radial, 50% 50%,30, 50% 50%, 230, from(rgba(255,255,255,0.4) ), to(transparent ) );
	background-color:rgba(0,0,0,0.6);
}

.div_total{
	font-size:15px;
	padding:30px 0 20px;
}
.div_total p{
	padding:3px 0;
	line-height:15px;
}
.div_total p:nth-of-type(1){
	font-size:18px;
	line-height:18px;
}
.div_total p:nth-of-type(2){
	font-size:24px;
	line-height:27px;
}
.div_input input{
	border:0;
	background:none;
	padding:0 10px;
	color:#ffffff;
	font-size:23px;
	letter-spacing:15px;
	-webkit-appearance:none;
	width:200px;
	text-align: center;
	border-bottom:1px solid #ffffff;
	line-height:40px;
	margin: 10px 0;
}
.div_input input::-webkit-input-placeholder{
	line-height:40px;
	font-size:15px;
	color:#ffffff;
	letter-spacing: 2px;
	text-align: center;
}

.div_submit{
	padding:30px 0;
}

.div_submit .btn{
	-webkit-appearance:none;
	display: block;
	width:80%;
	max-width:250px;
	margin:15px auto;
	border:0;
	font-size: 18px;
	height:40px;
	line-height:40px;
}
.div_submit .btn.calcel{
	background-color:#3e3e3e;
}

/****/
/*.section_2 .div_total{
	background:rgba(0,0,0,0.5);
}*/

.tip_title{
	height:50px;
	line-height: 60px;
	font-size:24px;
}
.tip_content{
	font-size:15px;
	line-height:20px;
}

.section_2 .btn.blue{background-color:#69c1d7;}
.section_2 .btn.green{background-color:#37c3a9;}

/****/
.pay_dialog,.section_1,.section_2{
	display: none;
}
.pay_dialog.on,.section_1.on,.section_2.on{
	display: block;
}

.pay_dialog .widget_wrap{
	height: 375px;
	position: fixed;
	left: 0;
	top: 50%;
	width: 100%;
	margin-top: -188px;
}



/******************************/
.order_pay_result .body {
    padding: 0;
}
.order_pay_result_wrap {
    width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
}

.order_pay_result_wrap .img_wrap {
    padding: 92px 0 22px;
}
.order_pay_result_wrap .icon_wrap{
    display: block;
    width:100px;
    height:100px;
    background: url(../imgs/w_30.png) no-repeat center -200px;
    -webkit-background-size:100px auto;
    margin:auto;
}
.order_pay_result_wrap .icon_wrap_2 {
    background-position: center -300px;;
}

.order_pay_result_wrap p {
    font-size: 20px;
    color: #515151;
    padding: 18px 0 24px;
}
.order_pay_result_wrap .btn_wrap p{
	font-size: 12px;
	color: #404040;
	padding: 5px;
}

.order_pay_result_wrap .btn_wrap {
    text-align: center;
    margin: 0 auto;
}
.order_pay_result_wrap .btn_wrap .box {
     display: block;
 }
.order_pay_result_wrap .btn_wrap li {
    padding: 10px 0;
 }
.order_pay_result_wrap .btn_wrap .btn {
    width: 100%;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
 }
.order_pay_result_wrap .btn_wrap .tip_text {
    font-size: 15px;
    color: #a3a3a3;
    line-height: 36px;
}
.order_pay_result_wrap .btn_wrap .num {
    margin: 0 3px;
}



/******************************/
*[data-role="iframe_page"]{
	width:100%;
	min-height:100px;
	border:0;
	height:1000px;
}
*[data-role="iframe_page"].hidden, .container.ordercreate.hidden{
	display: none;
}


/**********************************/
.order_alipay{

}
.order_alipay header div{
	display:table;
	height:47px;
	vertical-align: middle;
	width:100%;
	padding:0 30px 0 10px;
	background:url(../imgs/w_45.jpg) no-repeat right center #25a52e;
	-webkit-background-size:auto 47px;
	visibility: hidden;
}
.order_alipay header div.on{
	visibility:visible;
}
.order_alipay header a{
	display:table-cell;
	color:#ffffff;
	vertical-align: middle;
	font-size:14px;
}
.alipay_detail{
	padding:10px 0;
	text-align:center;
}
.alipay_detail li{
	padding:14px 10px;
}
.alipay_detail li:nth-of-type(1){
	font-size:14px;
}
.alipay_detail li:nth-of-type(2){
	font-size:20px;
}
.alipay_detail li:nth-of-type(3){
	font-size:15px;
}
.alipay_detail li a{
	display:block;
	width:280px;
	line-height:44px;
	border-radius:5px;
	text-align: center;
	color:#fff;
	font-size:18px;
	background:#bdbdbd;
	margin:0 auto;
}
.alipay_detail li a.on{
	background:#25a52e;
}