<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxsoft.drinkTea.platform.system.userRole.mapper.SysRoleMapper">
	<resultMap type="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole" id="SysRoleMap">
		<id property="id" column="ID" />
		<result property="id" column="ID" />
		<result property="roleName" column="ROLE_NAME" />
		<result property="createtime" column="CREATETIME" />
	</resultMap>

	<sql id="allSysRoleItems">
		tmp.`ID`,tmp.`ROLE_NAME`,tmp.`CREATETIME`
	</sql>

	<sql id="allSysRoleByConditions">
        <if test="id != null"> tmp.ID = #{id} AND</if>
        <if test="roleName != null"> tmp.ROLE_NAME = #{roleName} AND</if>
        <if test="createtime != null"> tmp.CREATETIME = #{createtime} AND</if>
	</sql>

	<select id="getListBy" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole" resultMap="SysRoleMap">
		SELECT <include refid="allSysRoleItems" /> from sys_role tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSysRoleByConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY tmp.`id` DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListBy" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole" resultMap="SysRoleMap">
		SELECT <include refid="allSysRoleItems" /> from sys_role tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSysRoleByConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY tmp.id
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountBy" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole" resultType="java.lang.Integer">
		SELECT count(*) from sys_role tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSysRoleByConditions" />
 		</trim>
	</select>

	<sql id="allSysRoleLikeConditions">
		<if test="id != null">ID like '%${id}%' AND </if>
		<if test="roleName != null">ROLE_NAME like '%${roleName}%' AND </if>
		<if test="createtime != null">CREATETIME like '%${createtime}%' AND </if>
	</sql>

	<select id="getListLike" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole" resultMap="SysRoleMap">
		SELECT <include refid="allSysRoleItems" /> from sys_role tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSysRoleLikeConditions" />
 		</trim>
 	    <choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY tmp.id
	 		</otherwise>
 		</choose>
	</select>

	<select id="getPageListLike" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole" resultMap="SysRoleMap">
		SELECT <include refid="allSysRoleItems" /> from sys_role tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSysRoleLikeConditions" />
 		</trim>
 		<choose>
	 		<when test="orderBy != null and orderBy != ''">
	 			ORDER BY ${orderBy}
	 		</when>
	 		<otherwise>
	 		 	ORDER BY tmp.id DESC
	 		</otherwise>
 		</choose>
	</select>

	<select id="getCountLike" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole" resultType="java.lang.Integer">
		SELECT count(*) from sys_role tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSysRoleLikeConditions" />
 		</trim>
	</select>

	<select id="selectByPrimaryKey" parameterType="Integer"	resultMap="SysRoleMap">
			SELECT <include refid="allSysRoleItems" /> FROM sys_role tmp WHERE tmp.`id` = #{id}
	</select>

	<select id="selectBy" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole" resultMap="SysRoleMap">
		SELECT <include refid="allSysRoleItems" /> FROM sys_role tmp
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
			<include refid="allSysRoleByConditions" />
 		</trim>
	</select>

	<insert id="insert" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole" useGeneratedKeys="true" keyProperty="">
		INSERT INTO sys_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>
			<if test="roleName != null">ROLE_NAME,</if>
			CREATETIME,
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">#{id},</if>
			<if test="roleName != null">#{roleName},</if>
			now(),
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole">
		<![CDATA[delete from sys_role where `id` =#{id}]]>
	</delete>

	<delete id="delete" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole">
		delete from sys_role
		<trim prefix="WHERE" prefixOverrides="AND" suffixOverrides ="AND">
            <if test="id != null"> ID = #{id} AND</if>
            <if test="roleName != null"> ROLE_NAME = #{roleName} AND</if>
            <if test="createtime != null"> CREATETIME = #{createtime} AND</if>
 		</trim>
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.wxsoft.drinkTea.platform.system.userRole.model.SysRole">
		update sys_role
		<set>
			<if test="id != null">ID=#{id},</if>
			<if test="roleName != null">ROLE_NAME=#{roleName},</if>
			<if test="createtime != null">CREATETIME=#{createtime},</if>
		</set>
		where id = #{id}
	</update>

</mapper>